# Combine price files on `measure_date_CET` and add UTC timestamp

In [32]:
import pandas as pd
from zoneinfo import ZoneInfo

# File paths for input data
DA_PATH = "/home/renga/Desktop/neoen_data/renga_work/data/grid_penalty/da_prices.csv"
PRE_PATH = "/home/renga/Desktop/neoen_data/renga_work/data/grid_penalty/pre_prices.csv"

# Output file path
OUTPUT_CSV = "/home/renga/Desktop/neoen_data/renga_work/data/grid_penalty/combined_with_utc.csv"

In [33]:

da = pd.read_csv(DA_PATH)
pre = pd.read_csv(PRE_PATH)

print("DA shape:", da.shape)
print("PRE shape:", pre.shape)

# Quick peek
display(da.head(3))
display(pre.head(3))

DA shape: (8376, 2)
PRE shape: (28027, 3)

            measure_date_CET  da_price
0  2025-01-01 00:00:00+01:00     12.36
1  2025-01-01 01:00:00+01:00     18.92
2  2025-01-01 02:00:00+01:00     16.66

            measure_date_CET   Long  Short
0  2025-01-01 00:00:00+01:00  20.34  23.28
1  2025-01-01 00:15:00+01:00  19.22   22.0
2  2025-01-01 00:30:00+01:00  32.13  36.79

In [34]:
# --- Ensure the join key exists in both ---
KEY = "measure_date_CET"
assert KEY in da.columns, f"'{KEY}' not found in DA file columns: {list(da.columns)}"
assert KEY in pre.columns, f"'{KEY}' not found in PRE file columns: {list(pre.columns)}"

In [35]:
# --- Robust parse of 'measure_date_CET' handling offset-aware strings (+HH:MM / Z) and naive ones ---

import pandas as pd
from pandas.api.types import is_datetime64_any_dtype

KEY = "measure_date_CET"
PARIS_TZ = "Europe/Paris"

def to_paris_tzaware(series: pd.Series) -> pd.Series:
    s = series.astype(str).str.strip()

    # Identify strings that already have an explicit offset or 'Z'
    # e.g., '2025-03-30 03:00:00+02:00' or '2025-03-30T01:00:00Z'
    mask_offset = s.str.contains(r"([+-]\d{2}:\d{2}|Z)$", na=False, regex=True)

    # Prepare an output series with the target tz-aware dtype
    out = pd.Series(pd.NaT, index=s.index, dtype=f"datetime64[ns, {PARIS_TZ}]")

    # offset-aware strings -> parse with utc=True, then convert to Paris
    if mask_offset.any():
        dt_off = pd.to_datetime(s[mask_offset], errors="coerce", utc=True)
        # Convert UTC -> Europe/Paris
        dt_off_paris = dt_off.dt.tz_convert(PARIS_TZ)
        out.loc[mask_offset] = dt_off_paris

    # naive strings (no offset, no Z) -> parse and localize to Paris
    if (~mask_offset).any():
        s_naive = s[~mask_offset]

        # Clean tokens like 'CET'/'CEST' if present 
        s_naive = s_naive.str.replace(r"\s*(CET|CEST)$", "", regex=True, case=False).str.strip()

        # Try parsing as month-first, then day-first
        dt1 = pd.to_datetime(s_naive, errors="coerce", dayfirst=False)
        dt2 = pd.to_datetime(s_naive, errors="coerce", dayfirst=True)
        dt_naive = dt1.fillna(dt2)

        if not is_datetime64_any_dtype(dt_naive):
            raise TypeError(f"Could not parse '{KEY}' to datetimes (naive branch).")

        # Localize to Europe/Paris (handles DST)
        dt_naive_paris = dt_naive.dt.tz_localize(PARIS_TZ, ambiguous="infer", nonexistent="shift_forward")
        out.loc[~mask_offset] = dt_naive_paris

    return out

# Build tz-aware helper columns on both dataframes
da["_measure_dt_paris"] = to_paris_tzaware(da[KEY])
pre["_measure_dt_paris"] = to_paris_tzaware(pre[KEY])

print("da _measure_dt_paris dtype:", da["_measure_dt_paris"].dtype)
print("pre _measure_dt_paris dtype:", pre["_measure_dt_paris"].dtype)

da _measure_dt_paris dtype: datetime64[ns, Europe/Paris]
pre _measure_dt_paris dtype: datetime64[ns, Europe/Paris]

/tmp/ipykernel_203384/2799010890.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask_offset = s.str.contains(r"([+-]\d{2}:\d{2}|Z)$", na=False, regex=True)
/tmp/ipykernel_203384/2799010890.py:14: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask_offset = s.str.contains(r"([+-]\d{2}:\d{2}|Z)$", na=False, regex=True)

In [36]:
# --- Merge on the original CET key (naive) ---
# We merge on the naive datetime values to align rows as they appear in your inputs.
# If you'd rather merge on the tz-aware version, switch 'on=KEY' to 'left_on="_measure_dt_paris", right_on="_measure_dt_paris"'.
combined = pd.merge(
    da, pre, on=KEY, how="outer", suffixes=("_da", "_pre")
).sort_values(KEY).reset_index(drop=True)

print("Combined shape:", combined.shape)
combined.head(5)

Combined shape: (28028, 6)

,measure_date_CET,da_price,_measure_dt_paris_da,Long,Short,_measure_dt_paris_pre
0,2025-01-01 00:00:00+01:00,12.36,2025-01-01 00:00:00+01:00,20.34,23.28,2025-01-01 00:00:00+01:00
1,2025-01-01 00:15:00+01:00,NaN,NaT,19.22,22.0,2025-01-01 00:15:00+01:00
2,2025-01-01 00:30:00+01:00,NaN,NaT,32.13,36.79,2025-01-01 00:30:00+01:00
3,2025-01-01 00:45:00+01:00,NaN,NaT,29.13,33.35,2025-01-01 00:45:00+01:00
4,2025-01-01 01:00:00+01:00,18.92,2025-01-01 01:00:00+01:00,13.24,15.16,2025-01-01 01:00:00+01:00

In [37]:
# --- Build the UTC column ---
# Prefer the tz-aware time from DA if present, else from PRE.
def pick_paris_time(row):
    val = row.get("_measure_dt_paris_da")
    if pd.isna(val):
        return row.get("_measure_dt_paris_pre")
    return val

# Ensure both helper columns exist in 'combined':
# '_measure_dt_paris_da' and '_measure_dt_paris_pre'
# Let's ensure they exist (if one side didn't have rows, pandas may fill with NaT).
if "_measure_dt_paris_da" not in combined.columns:
    combined["_measure_dt_paris_da"] = pd.NaT
if "_measure_dt_paris_pre" not in combined.columns:
    combined["_measure_dt_paris_pre"] = pd.NaT

combined["_measure_dt_paris"] = combined.apply(pick_paris_time, axis=1)

# Convert to UTC
combined["measure_date_UTC"] = combined["_measure_dt_paris"].dt.tz_convert("UTC")

# Optional: convenience string version like '2025-10-08 11:15:00+00:00'
combined["measure_date_UTC_str"] = combined["measure_date_UTC"].dt.strftime("%Y-%m-%d %H:%M:%S%z")
# Insert the colon in the +00:00 offset to match the exact example format
combined["measure_date_UTC_str"] = combined["measure_date_UTC_str"].str.replace(r"(\+\d{2})(\d{2})$", r"\1:\2", regex=True)

# Reorder columns to place the new UTC columns next to the CET key
cols = list(combined.columns)
for c in ["measure_date_UTC", "measure_date_UTC_str"]:
    cols.insert(cols.index(KEY) + 1, cols.pop(cols.index(c)))
combined = combined[cols]

combined.head(5)

,measure_date_CET,measure_date_UTC_str,measure_date_UTC,da_price,_measure_dt_paris_da,Long,Short,_measure_dt_paris_pre,_measure_dt_paris
0,2025-01-01 00:00:00+01:00,2024-12-31 23:00:00+00:00,2024-12-31 23:00:00+00:00,12.36,2025-01-01 00:00:00+01:00,20.34,23.28,2025-01-01 00:00:00+01:00,2025-01-01 00:00:00+01:00
1,2025-01-01 00:15:00+01:00,2024-12-31 23:15:00+00:00,2024-12-31 23:15:00+00:00,NaN,NaT,19.22,22.0,2025-01-01 00:15:00+01:00,2025-01-01 00:15:00+01:00
2,2025-01-01 00:30:00+01:00,2024-12-31 23:30:00+00:00,2024-12-31 23:30:00+00:00,NaN,NaT,32.13,36.79,2025-01-01 00:30:00+01:00,2025-01-01 00:30:00+01:00
3,2025-01-01 00:45:00+01:00,2024-12-31 23:45:00+00:00,2024-12-31 23:45:00+00:00,NaN,NaT,29.13,33.35,2025-01-01 00:45:00+01:00,2025-01-01 00:45:00+01:00
4,2025-01-01 01:00:00+01:00,2025-01-01 00:00:00+00:00,2025-01-01 00:00:00+00:00,18.92,2025-01-01 01:00:00+01:00,13.24,15.16,2025-01-01 01:00:00+01:00,2025-01-01 01:00:00+01:00

In [ ]:
# --- Expand Day-Ahead (hourly) price to 15-minute values using the UTC timestamp ---


import numpy as np
from pandas.api.types import is_numeric_dtype

# Identify candidate DA columns (adjust list if you have custom names)
candidate_names = {"da_price", "price_da", "day_ahead", "day_ahead_price", "da"}
numeric_cols = [c for c in combined.columns if is_numeric_dtype(combined[c])]

da_cols = [c for c in numeric_cols if c.endswith("_da") or c.lower() in candidate_names]

if not da_cols:
    raise ValueError(
        "No Day-Ahead (DA) price column detected. "
        "Rename your DA column to end with '_da' or to one of: "
        f"{sorted(candidate_names)}"
    )

# Use UTC to avoid DST pitfalls during resampling/filling
if "measure_date_UTC" not in combined.columns:
    raise KeyError("measure_date_UTC column not found. Create it before running this cell.")

# Floor each row to the top of the hour in UTC
combined["_hour_utc"] = combined["measure_date_UTC"].dt.floor("H")

# For each DA column, map the hourly :00 price to all 15-min rows in that hour
for col in da_cols:
    # Build a map from hour -> DA price taken from the :00 minute rows
    mask_on_the_hour = combined["measure_date_UTC"].dt.minute == 0
    hour_price_map = (
        combined.loc[mask_on_the_hour, ["_hour_utc", col]]
                .dropna()
                .groupby("_hour_utc")[col]
                .last()   # in case duplicates, take the last observed for that hour
    )

    # Create the 15-min expanded column
    out_col = f"{col}_15min"
    combined[out_col] = combined["_hour_utc"].map(hour_price_map)

    # Optional: if some hours are missing a :00 value, you can derive from nearest hour by forward/back-fill:
    # combined[out_col] = (
    #     combined.set_index("measure_date_UTC")[out_col]
    #             .sort_index()
    #             .ffill()
    #             .bfill()
    #             .reindex(combined["measure_date_UTC"])
    #     .values
    # )

# (leave _hour_utc for inspection; it will be dropped in the save/cleanup cell)
print("Created 15-min expanded columns for:", da_cols)

Created 15-min expanded columns for: ['da_price']

/tmp/ipykernel_203384/1869306640.py:28: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  combined["_hour_utc"] = combined["measure_date_UTC"].dt.floor("H")

In [39]:
# --- Clean up helper columns & save ---
drop_helpers = [c for c in combined.columns if c.startswith("_measure_dt_paris")]
combined_out = combined.drop(columns=drop_helpers)

combined_out.to_csv(OUTPUT_CSV, index=False)
print(f"Saved merged file with UTC column to: {OUTPUT_CSV}")

Saved merged file with UTC column to: /home/renga/Desktop/neoen_data/renga_work/data/grid_penalty/combined_with_utc.csv